<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/footer.css">
    <script src="https://kit.fontawesome.com/c9896cdd0f.js" crossorigin="anonymous"></script>
    
    <title>Document</title>
</head>
<body>

    <!-- Footer -->
    <footer>
        <h5>TS9</h5>
        <!-- Icônes et liens réseaux sociaux -->
        <a href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-facebook"></i></a> 
        <a href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
        <a href="https://twitter.com/?lang=fr" target="_blank" ><i class="fa-brands fa-x-twitter"></i></a>
        <a href="https://www.youtube.com/?app=desktop&hl=FR" target="_blank"><i class="fa-brands fa-youtube"></i></a>
        <br> <br>
        <!-- Liens utiles -->
        <ol class="myclass">
            <li><a href="contact">Contactez-nous</a></li>
            <li><a href="#">Abonnez vous à notre newsletter</a></li>
            <li><a href="#">Mentions Légales</a></li>
            <li><a href="#">Politique de Confidentialité</a></li>
            <li><a href="#">Gérer les cookies</a></li>
        </ol>

        <br> 
        <p class="foot"><span id="currentyear"></span></p>

    </footer>
</body>

<script>
    //Afficher l'année actuelle dans le footer
const date = new Date();
const elementDate = document.querySelector ("#currentyear");
elementDate.textContent += `©${date.getFullYear()} TS9 - Tous droits réservés`;
</script>
</body>
</html>