<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/navbar.css">
    <title>Barre de navigation</title>
</head>
<body>
    <nav>
        <h2>TS9</h2>    <br>
      <div class="nav-left">
            <ul>
            <li><a href="accueil">Accueil</a></li>
            <li><a href="ptv">Programme TV</a></li>
            <li><a href="direct">Direct</a></li>
            <li><a href="nouveautes">Nouveautés</a></li>
            <li><a href="apropos">A propos de nous</a></li>
            <li><a href="recrutement">Recrutement</a></li>
            </ul>
            </div>
    
      <div class="nav-right">
            <ul>
            <li class="input"><input type="text" placeholder="Rechercher Un Programme"></li>
            <li class="inscription"><a href="inscription">S'inscrire</a></li>
            <li class="connexion"><a href="connexion">Se connecter</a></li>
        </ul>
            </div>
    </nav>
<br>
</body>
</html>