<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Se Connecter</title>
</head>
<body>
    <div class="formulaire">
        <h3>Connectez-vous</h3>
        
        <!-- Formulaire Connexion -->
<form>
    <label for="">Adresse Mail:</label>
    <input type="text" placeholder="Adresse Mail" required>
    <br>
    <label for="">Mot De Passe:</label>
    <input type="password" placeholder="Mot de passe" required>
    <br> <br>
    <button>Se Connecter</button>
    <br> <br>
    <p>Vous n'avez pas de compte? Inscrivez vous <a href="inscription" target="_blank" >ici</a></p>
</form>
</div>
</body>
</html>