<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/inscription.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/c9896cdd0f.js" crossorigin="anonymous"></script>
    <title>Créer un compte</title>
</head>

<%- include('partials/navbar') %>

<body>
    <!-- Formulaire -->
    <br> <br> <br> <br>
    <h3 class="form-title">Inscrivez-vous:</h3>
    <form class="ptv" action="/inscription" method="post">
        <fieldset>
            <label for="nom"></label>
            <input type="text" placeholder="Nom" id="nom" name="nom" required>
            <br> <br>
            <label for="prenom"></label>
            <input type="text" placeholder="Prénom" id="prenom" name="prenom" required>
            <br> <br>
            <label for="adressemail"></label>
            <input type="text" placeholder="Adresse Mail" id="mail" name="email" required>
            <br> <br>
            <label for="">Date de Naissance:</label><br>
            <input type="date" required>
            <br> <br>
            <label for="password">Créez un mot de passe:</label> <br>
            <input type="password" placeholder="Mot de passe" id="password" name="motdepasse" required>
            <br> <br>
            <button class="submit-btn">Enregistrer</button>
            <br>
          <p>Vous avez déjà un compte? Connectez vous <a href="connexion">ici</a></p>

        </fieldset>
    </form>
    
<br> <br> <br>
</body>

<%- include('partials/footer') %>

</html>