<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modifier Mon Profil</title>
</head>
<body>
    <form action="/modifierprofil" method="post">
        <input type="text" placeholder="Entrez votre ancienne adresse mail">
        <br> <br>
        <input type="text" placeholder="Entrez votre nouvelle adresse mail">
        <br> <br>
        <input type="text" placeholder="Entrez votre ancien mot de passe">
        <br> <br>
        <input type="text" placeholder="Entrez votre nouveau mot de passe">

        <button>Enregistrer</button>
    </form>
</body>
</html>