<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>TS9</h2>
    <nav>
        <ol>
        <li><a href="programmetv.ejs">Programme TV</a></li>
        <li>Direct</li>
        <li>Nouveautés</li>
        <li><a href="apropos.ejs">A propos de nous</a></li>
        </ol>

        <ul>
        <li><input type="text" placeholder="Chercher Un Programme"></li>
        <li>S'inscrire</li>
        <li>Se connecter</li>
        </ul>
</nav>
</body>
</html>