<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/nouveautes.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/c9896cdd0f.js" crossorigin="anonymous"></script>
    <title>Nouveautés TS9</title>
</head>
<%- include('partials/navbar') %>

<body>
<br> <br> <br> <br>

<h3>Découvrez les nouveautés TS9</h3>
<div class="container">
    <div class="card">
        <img src="images/jt20h.jpeg" alt="JT 20h">
        <div class="content">
            <h4>Nouveau JT 20h</h4>
            <p>Une information plus dynamique et interactive.</p>
        </div>
    </div>

    <div class="card">
        <img src="images/himbo.jpeg" alt="Émission musicale">
        <div class="content">
            <h4>Émission musicale</h4>
            <p>Découverte des talents et interviews exclusives.</p>
        </div>
    </div>

    <div class="card">
        <img src="images/serie.jpeg" alt="Séries inédites">
        <div class="content">
            <h4>Séries inédites</h4>
            <p>De nouvelles histoires captivantes chaque semaine.</p>
        </div>
    </div>

    <div class="card">
        <img src="images/sport.jpeg" alt="Sport">
        <div class="content">
            <h4>Pôle sportif</h4>
            <p>Analyses et débats en direct sur le sport.</p>
        </div>
    </div>

    <div class="card">
        <img src="images/ts9app.jpeg" alt="Application mobile">
        <div class="content">
            <h4>Application mobile</h4>
            <p>Regardez TS9 en streaming où que vous soyez.</p>
        </div>
    </div>

    <div class="card">
        <img src="images/culture.jpeg" alt="Émission culturelle">
        <div class="content">
            <h4>Émission culturelle</h4>
            <p>Un voyage à travers l’art et la littérature.</p>
        </div>
    </div>

    <div class="card">
        <img src="images/reportages.jpeg" alt="Reportages">
        <div class="content">
            <h4>Reportages en immersion</h4>
            <p>Découvrez des histoires inspirantes du terrain.</p>
        </div>
    </div>
</div>
<br> <br> <br>
</body>
<%- include('partials/footer') %>

</html>
