/* footer */
footer {
    background-color: #05944c;
    text-align: center;
    padding: 5px;
}

/* liste */
.myclass {
    display: flex;
    text-align: center;
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: row; /* Alignement horizontal */
    justify-content: center; /* Centre les éléments horizontalement */
    gap: 20px; /* Espace entre les éléments */
}

/* icones */
a i{
    font-size: 30px;
    width: 40px;
}