/* body */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    color: #FAF5E9;
    font-family: Kanit, sans-serif;
}

/* h1, h2 */
h1 {
    color: #FFCC00;
    text-align: center;
    padding: 50px 50px;
}

h2 {
    color: #FFCC00;
    text-align: center;
    font-size: 30px;
}

/* Barre de navigation */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: fixed;
    background-color: rgb(53, 47, 47);
    top: 0; /* La colle en haut */
    left: 0;
    z-index: 1000; /* S'assure qu'elle est au-dessus des autres éléments */
    width: 100vw; 
    box-sizing: border-box;
}

.nav-left, .nav-right {
    display: flex;
}

.nav-right .inscription{
border: 2px solid #05944c;
border-radius: 2px;
background-color: #05944c;
padding: 5px 10px;
}

.nav-right .connexion{
    border: 2px solid #05944c;
    border-radius: 2px;
    padding: 5px 10px;
    color: #05944c;
    }


/* Listes */
ul {
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #FAF5E9;
}

ul li a:hover{
    color: #FFCC00;
}

ol li a:active, ul li a:active {
    transform: scale(0.9); /* effet click */
}

/* input */
nav input {
    padding: 10px 20px;
    border-radius: 2px;
    border: #FAF5E9;
    font-family: Kanit, sans-serif;
    background-color: rgb(53, 47, 47);
    color: #05944c;

}