/* Body */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-color: rgb(53, 47, 47);
    color: #FAF5E9;
    font-family: Kanit, sans-serif;
}

/* h2 */
h2 {
    color: #FFCC00;
    text-align: center;
    font-size: 30px;
}

/* Tableau */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    background-color: #FAF5E9;
    color: #333;
    font-family: Kanit, sans-serif;
}

th, td {
    border: 1px solid #333;
    background-color: rgb(53, 47, 47);
    color: #FAF5E9;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #FFCC00;
    color: #333;
}

/* Bouton */
button {
    display: block; /* Assure que le bouton peut être centré */
    margin: 20px auto; /* Centre horizontalement */
    background-color: #FAF5E9;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button a {
    font-family: Kanit, sans-serif;
    color: #333;
    text-decoration: none; /* Supprime le soulignement */
    font-weight: bold;
}

button:active{
        transform: scale(0.9);
    }