html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-color: rgb(53, 47, 47);
    color: #FAF5E9;
    font-family: Kanit, sans-serif;
}

h2 {
    color: #FFCC00;
    text-align: center;
    font-size: 30px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: fixed;
    background-color: rgb(53, 47, 47);
    top: 0; /* La colle en haut */
    left: 0;
    z-index: 1000; /* S'assure qu'elle est au-dessus des autres éléments */
    width: 100vw; 
    box-sizing: border-box;
}

.nav-left, .nav-right {
    display: flex;
}

.nav-right .inscription{
border: 2px solid #05944c;
border-radius: 2px;
background-color: #05944c;
padding: 5px 10px;
}

.nav-right .connexion{
    border: 2px solid #05944c;
    border-radius: 2px;
    padding: 5px 10px;
    color: #05944c;
    }


ul {
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #FAF5E9;
}

ul li a:hover{
    color: #FFCC00;
}

ol li a:active, ul li a:active {
    transform: scale(0.9); /* effet click */
}

input {
    padding: 10px 20px;
    border-radius: 2px;
    border: #FAF5E9;
    font-family: Kanit, sans-serif;
    background-color: rgb(53, 47, 47);
    color: #05944c;

}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    background-color: #FAF5E9;
    color: #333;
    font-family: Kanit, sans-serif;
}

th, td {
    border: 1px solid #333;
    background-color: #333;
    color: #FAF5E9;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #FFCC00;
    color: #333;
}

button {
    display: block; /* Assure que le bouton peut être centré */
    margin: 20px auto; /* Centre horizontalement */
    background-color: #FAF5E9;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button a {
    font-family: Kanit, sans-serif;
    color: #333;
    text-decoration: none; /* Supprime le soulignement */
    font-weight: bold;
}


footer {
    background-color: #05944c;
    text-align: center;
    padding: 5px;
}

ol {
    text-align: justify;
    display: flex;
    gap: 20px;
    padding-left: 200px;
    margin: 0;
}

a i{
    font-size: 30px;
    width: 40px;
}
